@charset "UTF-8";
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underlinedotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  background-color: #F0F3F5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  position: relative;
}

.p-single__wrap-content-body h2, .p-page__content h2 {
  margin: 3rem 0 2.4rem;
  font-size: 2rem;
  font-weight: bold;
}
.p-single__wrap-content-body h3, .p-page__content h3 {
  margin: 2.4rem 0 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.p-single__wrap-content-body h4, .p-page__content h4 {
  margin: 2rem 0 1.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.p-single__wrap-content-body p, .p-page__content p {
  margin-bottom: 1.8rem;
}
.p-single__wrap-content-body img, .p-page__content img {
  margin-bottom: 1.8rem;
}
.p-single__wrap-content-body a, .p-page__content a {
  color: #00AEE0;
}
.p-single__wrap-content-body a:hover, .p-page__content a:hover {
  text-decoration: underline;
}
.p-single__wrap-content-body img, .p-page__content img {
  max-width: 100%;
}
.p-single__wrap-content-body ol, .p-page__content ol {
  margin-bottom: 1.8rem;
  list-style: decimal inside;
}
.p-single__wrap-content-body ol li, .p-page__content ol li {
  padding: 0.3rem 1.6rem 0.3rem 0;
}
.p-single__wrap-content-body ul, .p-page__content ul {
  margin-bottom: 1.8rem;
  list-style: disc inside;
}
.p-single__wrap-content-body ul li, .p-page__content ul li {
  padding: 0.3rem 1.6rem 0.3rem 0;
}
.p-single__wrap-content-body pre, .p-page__content pre {
  white-space: pre-wrap;
}

.l-header {
  width: 100%;
  padding: 0 3.2rem;
  background-color: #F0F3F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media (max-width: 970px) {
  .l-header {
    padding: 3rem 2.4rem 0.8rem;
  }
}
.l-header__logo {
  margin-right: 2%;
  display: block;
}
@media (max-width: 970px) {
  .l-header__logo {
    margin-right: 0;
  }
}
.l-header__logo-img {
  width: 10.8rem;
  display: block;
}
@media (max-width: 600px) {
  .l-header__logo-img {
    width: 8rem;
  }
}
.l-header__menu {
  display: flex;
  gap: 0 2.7rem;
}
@media (max-width: 970px) {
  .l-header__menu {
    display: none;
  }
}
.l-header__menu-item {
  padding-right: 2.7rem;
  border-right: 1px solid #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;
  cursor: pointer;
}
.l-header__menu-item:last-child {
  padding-right: 0;
  border-right: none;
}
.l-header__menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;
}
.l-header__menu-item-text {
  font-weight: bold;
  letter-spacing: 0.2em;
}
.l-header__menu-item-text--en {
  font-size: 1.3rem;
}
.l-header__menu-item-text--jp {
  font-size: 1rem;
}
.l-header__button {
  padding-bottom: 2rem;
  display: flex;
  gap: 0 2rem;
}
@media (max-width: 970px) {
  .l-header__button {
    display: none;
  }
}
.l-header__button-inner {
  min-width: 9.6rem;
  padding: 1rem 1rem 0.4rem;
  border-radius: 0 0 7px 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.l-header__button-inner--blog {
  background: #5D5D5D;
  gap: 8px 0;
}
.l-header__button-inner--contact {
  background: #9DC6C0;
  gap: 4px 0;
}
.l-header__button-inner-icon {
  width: 5.2rem;
  height: 5.2rem;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-header__button-inner-icon-img {
  width: 2.7rem;
  display: block;
}
.l-header__button-inner-text {
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.l-header__burger {
  margin: 0;
  display: none;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 5%;
}
@media (max-width: 970px) {
  .l-header__burger {
    display: flex;
  }
}
.l-header__burger-inner {
  width: 22px;
  height: 2px;
  margin: 10px 0;
  background-color: #333;
  border-radius: 15vw;
  transition: all 0.4s ease;
  position: relative;
}
.l-header__burger-inner::before {
  width: 22px;
  height: 2px;
  content: "";
  background-color: #333;
  border-radius: 15vh;
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 0.4s ease;
}
.l-header__burger-inner::after {
  width: 22px;
  height: 2px;
  content: "";
  background-color: #333;
  border-radius: 15vh;
  position: absolute;
  top: 8px;
  left: 0;
  transition: all 0.4s ease;
}
.l-header__burger-inner.is-open {
  width: 23px;
  height: 23px;
  background-color: transparent;
}
.l-header__burger-inner.is-open::before {
  width: 23px;
  height: 2px;
  content: "";
  background-color: #333;
  border-radius: 15vw;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}
.l-header__burger-inner.is-open::after {
  width: 23px;
  height: 2px;
  content: "";
  background-color: #333;
  border-radius: 15vw;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.4s ease;
}

.l-spmenu {
  width: 100%;
  height: calc(100vh - 8rem);
  height: calc(100dvh - 8rem);
  background-color: #F0F3F5;
  position: fixed;
  top: 8rem;
  left: 0;
  z-index: 9;
  display: none;
}
@media (max-width: 600px) {
  .l-spmenu {
    height: calc(100vh - 7rem);
    height: calc(100dvh - 7rem);
    top: 7rem;
  }
}
.l-spmenu__list-item {
  padding: 2.2rem 1.2rem;
  border-bottom: 1px solid #E2D7D7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;
  cursor: pointer;
}
.l-spmenu__list-item:last-child {
  border-bottom: none;
}
.l-spmenu__list-item a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;
}
.l-spmenu__list-item-text {
  font-weight: bold;
  letter-spacing: 0.2em;
}
.l-spmenu__list-item-text--en {
  font-size: 1.3rem;
}
.l-spmenu__list-item-text--jp {
  font-size: 1rem;
}
.l-spmenu__sns {
  margin: 2.4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5.6rem;
}
.l-spmenu__sns-icon {
  width: 3.3rem;
}
.l-spmenu__sns-icon-img {
  width: 100%;
  display: block;
}

.l-top {
  max-width: 1280px;
  margin-top: 12rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 970px) {
  .l-top {
    margin-top: 8rem;
  }
}
@media (max-width: 600px) {
  .l-top {
    margin-top: 7rem;
  }
}
.l-top--top {
  margin-bottom: 9.4rem;
  position: relative;
}
@media (max-width: 600px) {
  .l-top--top {
    margin-bottom: 6.8rem;
  }
}
.l-top--page {
  padding: 11.2rem 0.8rem 8.8rem;
}
@media (max-width: 600px) {
  .l-top--page {
    padding: 3.6rem 0.8rem;
  }
}
.l-top--single {
  padding: 11.2rem 0.8rem 8.8rem;
}
@media (max-width: 600px) {
  .l-top--single {
    padding: 3.6rem 0.8rem;
  }
}
.l-top--archive {
  padding: 11.2rem 0.8rem 8.8rem;
}
@media (max-width: 600px) {
  .l-top--archive {
    padding: 3.6rem 0.8rem;
  }
}
.l-top__view {
  max-width: 1107px;
  margin: 0 auto;
  padding: 0 4.6rem;
  position: relative;
}
@media (max-width: 820px) {
  .l-top__view {
    padding: 0 2.3rem;
  }
}
@media (max-width: 767px) {
  .l-top__view {
    padding: 0;
  }
}
.l-top__view-img {
  width: 100%;
}
.l-top__view-img-inner {
  padding-top: 53.3%;
}
@media (max-width: 600px) {
  .l-top__view-img-inner {
    padding-top: 46rem;
  }
}
.l-top__view-banner {
  margin: 0 auto;
  background-color: #FFE51C;
  transition: background-color 0.3s ease-out;
}
.l-top__view-banner:hover {
  background-color: #fff080;
}
.l-top__view-banner-link {
  padding: 0.8rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 3.6rem;
}
@media (max-width: 600px) {
  .l-top__view-banner-link {
    padding: 0.6rem;
    font-size: 1.6rem;
    text-align: center;
    display: block;
  }
}
.l-top__view-banner-link-span {
  font-weight: bold;
  display: inline-block;
}
.l-top__view-banner-link-span--detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.6rem;
}
.l-top__view-banner-link-span-img {
  width: 2.6rem;
  margin-left: 0.6rem;
  display: block;
}
@media (max-width: 600px) {
  .l-top__view-banner-link-span-img {
    width: 1.7rem;
  }
}
.l-top__view-message {
  position: absolute;
  top: 44%;
  left: 1.2rem;
  z-index: 5;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.l-top__view-message-text {
  width: fit-content;
  background-color: #FFF;
}
.l-top__view-message-text--lg {
  padding: 0.2rem 2.4rem;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .l-top__view-message-text--lg {
    padding: 0.2rem 1.2rem;
    clip-path: polygon(0 0, 75% 0, 75% 53%, 100% 53%, 100% 100%, 0 100%);
  }
}
.l-top__view-message-text--lg span {
  font-size: 3rem;
}
.l-top__view-message-text--lg br {
  display: none;
}
@media (max-width: 767px) {
  .l-top__view-message-text--lg br {
    display: block;
  }
}
.l-top__view-message-text--md {
  padding: 1rem 2.4rem;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .l-top__view-message-text--md {
    padding: 0.8rem 1.2rem;
  }
}
.l-top__view-message-text--gray {
  padding: 0.2rem 2.4rem;
  color: #A2A2A2;
  font-size: 1.5rem;
  font-weight: bold;
}
.l-top__view-message-ribbon {
  height: 4.5rem;
  margin-left: 1.5rem;
  text-align: center;
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .l-top__view-message-ribbon {
    height: 3.6rem;
    margin-left: 0.6rem;
  }
}
.l-top__view-message-ribbon::before {
  width: 10px;
  content: "";
  border: 20px solid #E58181;
  border-left-color: transparent;
  position: absolute;
  bottom: -10px;
  left: -25px;
  z-index: -2;
}
@media (max-width: 767px) {
  .l-top__view-message-ribbon::before {
    border-width: 16px;
    left: -17px;
  }
}
.l-top__view-message-ribbon::after {
  width: 10px;
  content: "";
  position: absolute;
  bottom: -10px;
  right: -25px;
  z-index: -2;
  border: 20px solid #E58181;
  border-right-color: transparent;
}
@media (max-width: 767px) {
  .l-top__view-message-ribbon::after {
    border-width: 16px;
    right: -17px;
  }
}
.l-top__view-message-ribbon-inner {
  margin: 0;
  padding: 0 20px;
  background-color: #F48585;
  color: #FFF;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 4.5rem;
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .l-top__view-message-ribbon-inner {
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 3.6rem;
  }
}
.l-top__view-message-ribbon-inner::before {
  content: "";
  border-bottom: solid 10px transparent;
  border-right: solid 15px #C46161;
  position: absolute;
  top: 100%;
  left: 0;
}
.l-top__view-message-ribbon-inner::after {
  content: "";
  border-bottom: solid 10px transparent;
  border-left: solid 15px #C46161;
  position: absolute;
  top: 100%;
  right: 0;
}
.l-top__view-button {
  position: absolute;
  top: 65%;
  right: 6%;
  z-index: 5;
}
@media (max-width: 970px) {
  .l-top__view-button {
    top: 60%;
  }
}
@media (max-width: 820px) {
  .l-top__view-button {
    right: 4%;
  }
}
@media (max-width: 767px) {
  .l-top__view-button {
    display: none;
  }
}
.l-top__view-button-inner {
  padding: 0.6rem 6.4rem 0.6rem 5.2rem;
  background-color: #F48585;
  border: 4px solid #FFF;
  border-radius: 4.5rem;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
}
@media (max-width: 970px) {
  .l-top__view-button-inner {
    padding: 0.6rem 5.4rem 0.6rem 3rem;
    font-size: 2rem;
    border: 3px solid #FFF;
  }
}
.l-top__view-button-inner::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 1.8rem;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-out;
}
.l-top__view-button-inner::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-top: 4px solid #F48585;
  border-right: 4px solid #F48585;
  position: absolute;
  top: 50%;
  right: 2.8rem;
  transform: translateY(-50%) rotate(45deg);
  transition: border 0.3s ease-out;
}
.l-top__view-button-inner:hover {
  background-color: #FFF;
  border: 4px solid #F48585;
  color: #F48585;
}
@media (max-width: 970px) {
  .l-top__view-button-inner:hover {
    border: 3px solid #F48585;
  }
}
.l-top__view-button-inner:hover::before {
  background-color: #F48585;
}
.l-top__view-button-inner:hover::after {
  border-color: #FFF;
}
.l-top__scroll {
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  left: 3%;
  bottom: 2.4rem;
  writing-mode: sideways-lr;
}
@media (max-width: 1160px) {
  .l-top__scroll {
    left: 1.2rem;
    bottom: 0;
  }
}
@media (max-width: 820px) {
  .l-top__scroll {
    display: none;
  }
}
.l-top__scroll::before {
  content: "";
  width: 2px;
  height: 10rem;
  background-color: #707070;
  position: absolute;
  left: calc(50% - 1px);
  top: -10.4rem;
  z-index: 2;
  animation: scroll 2s infinite;
}
@media (max-width: 900px) {
  .l-top__scroll::before {
    height: 8rem;
    top: -8.4rem;
  }
}
.l-top__scroll::after {
  content: "";
  width: 2px;
  height: 10rem;
  background-color: #D9D9D9;
  position: absolute;
  left: calc(50% - 1px);
  top: -10.4rem;
}
@media (max-width: 900px) {
  .l-top__scroll::after {
    height: 8rem;
    top: -8.4rem;
  }
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.l-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.8rem;
}
.l-main--single {
  background-color: #FFF;
  box-shadow: 0 0 0 100vmax #FFF;
  clip-path: inset(0 -100vmax -100vmax);
}
.l-main--archive {
  background-color: #FFF;
  box-shadow: 0 0 0 100vmax #FFF;
  clip-path: inset(0 -100vmax -100vmax);
}
.l-main__section {
  margin: 0 auto 4.8rem;
  padding: 4.8rem 0;
}
.l-main__section--top {
  max-width: 960px;
}
.l-main__section--page {
  margin-top: -3rem;
  max-width: 1100px;
}
@media (max-width: 600px) {
  .l-main__section--page {
    margin-top: -1.5rem;
  }
}
.l-main__section--single {
  max-width: 1100px;
}
.l-main__section--archive {
  max-width: 1100px;
}

.l-footer {
  padding: 4.6rem 3.2rem 3.4rem;
  position: relative;
}
@media (max-width: 970px) {
  .l-footer {
    padding: 4.6rem 3.2rem 8.6rem;
  }
}
.l-footer__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.l-footer__bg--pink {
  background-color: #F48585;
  opacity: 0.26;
  clip-path: polygon(22% 0, 54% 17%, 94% 0, 100% 8%, 100% 100%, 0 100%, 0 8%);
}
.l-footer__bg--gray {
  background-color: #9B9B9B;
  clip-path: polygon(24% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%, 0 6%);
}
.l-footer__inner {
  padding-top: 4rem;
  position: relative;
  z-index: 2;
}
.l-footer__inner-contact {
  margin-bottom: 5.4rem;
  text-align: center;
}
.l-footer__inner-contact-button-inner {
  padding: 0.8rem 5.8rem 0.8rem 5.4rem;
  background-color: #FFF;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  display: block;
  position: relative;
  transition: opacity 0.3s ease-out;
}
.l-footer__inner-contact-button-inner:hover {
  opacity: 0.8;
}
.l-footer__inner-contact-button-inner::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.l-footer__inner-contact-button-inner::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  position: absolute;
  top: 50%;
  right: calc(10% + 6px);
  transform: translateY(-50%) rotate(45deg);
}
.l-footer__inner-contact-button-inner-marker {
  padding: 0 0.2rem;
  background: linear-gradient(transparent 70%, #FFE51C 0%);
}
.l-footer__inner-company {
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 600px) {
  .l-footer__inner-company {
    margin-bottom: 3rem;
  }
}
.l-footer__inner-company-logo {
  width: fit-content;
  margin: 0 auto 4.2rem;
  display: block;
}
.l-footer__inner-company-logo-img {
  width: 10.8rem;
  display: block;
}
.l-footer__inner-company-name {
  margin-bottom: 0.4rem;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.l-footer__inner-company-address {
  color: #FFF;
  font-size: 1.3rem;
  letter-spacing: 0.2em;
}
.l-footer__inner-company-address .u-spbr {
  display: none;
}
@media (max-width: 600px) {
  .l-footer__inner-company-address .u-spbr {
    display: block;
  }
}
.l-footer__inner-sns {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.2rem;
}
@media (max-width: 600px) {
  .l-footer__inner-sns {
    margin-bottom: 3rem;
  }
}
.l-footer__inner-sns-icon {
  padding: 10px;
  background-color: #FFF;
  border-radius: 50%;
}
.l-footer__inner-sns-icon-img {
  width: 22px;
  display: block;
}
.l-footer__inner-privacy {
  margin-bottom: 4rem;
  text-align: center;
}
.l-footer__inner-privacy-link {
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.3em;
  text-decoration: underline;
}
.l-footer__inner-copyright {
  letter-spacing: 0.4em;
  text-align: center;
}
.l-footer__inner-copyright-text {
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 0.2em;
}

.c-pagebtn {
  display: flex;
}
.c-pagebtn--footer {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}
@media (max-width: 970px) {
  .c-pagebtn--footer {
    display: flex;
  }
}
.c-pagebtn__button {
  width: 50%;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  gap: 0 0.6rem;
}
.c-pagebtn__button--blog {
  background: #5D5D5D;
}
.c-pagebtn__button--contact {
  background: #9DC6C0;
}
.c-pagebtn__button-icon {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-pagebtn__button-icon-img {
  width: 2rem;
  display: block;
}
.c-pagebtn__button-text {
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

.c-header {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4em;
}
.c-header__jp {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.c-contact {
  text-align: center;
}
.c-contact__header {
  width: fit-content;
  margin: 0 auto 0.4rem;
  padding: 0 2.4rem;
  color: #DE8080;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  position: relative;
  display: block;
}
.c-contact__header::before {
  content: "";
  width: 1.5px;
  height: 100%;
  background-color: #DE8080;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-30deg);
}
.c-contact__header::after {
  content: "";
  width: 1.5px;
  height: 100%;
  background-color: #DE8080;
  position: absolute;
  top: 0;
  right: 0.8rem;
  transform: rotate(30deg);
}
.c-contact__button {
  min-width: 36rem;
  background-color: #FFF;
  border: 1px solid #000;
  box-shadow: 0.3rem 0.3rem 0 0 #E3E3E3;
  transition: background-color 0.3s ease-out;
}
.c-contact__button:hover {
  background-color: #F0F3F5;
}
@media (max-width: 600px) {
  .c-contact__button {
    min-width: auto;
    max-width: 38rem;
    width: 100%;
  }
}
.c-contact__button-inner {
  padding: 0.2rem 6.4rem 0.2rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 14%;
  position: relative;
}
.c-contact__button-inner::before {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.c-contact__button-inner::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  position: absolute;
  top: 50%;
  right: calc(5% + 5px);
  transform: translateY(-50%) rotate(45deg);
}
.c-contact__button-inner-icon {
  width: 2rem;
  display: block;
}
.c-contact__button-inner-text {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  display: block;
}
.c-contact__button-inner-text-line {
  padding: 0 0.2rem;
  background: linear-gradient(transparent 70%, #FFE51C 0%);
}

.c-breadcrumb {
  margin-bottom: 3.6rem;
  font-size: 1rem;
  font-weight: bold;
}
.c-breadcrumb__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.c-breadcrumb__list-item {
  margin-right: 1.2rem;
}
.c-breadcrumb__list-item + li::before {
  margin-right: 0.9rem;
  content: ">";
  vertical-align: text-bottom;
}
.c-breadcrumb__list-item a {
  padding-bottom: 2px;
  color: #333;
  background-image: linear-gradient(90deg, #333, #333);
  background-size: 0 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-out;
}
.c-breadcrumb__list-item a:hover {
  background-size: 100% 1px;
}

.c-sidebar {
  width: 100%;
  max-width: 18.6rem;
}
@media (max-width: 800px) {
  .c-sidebar {
    max-width: 36rem;
  }
}
.c-sidebar-group-header {
  padding: 1.5rem;
  background-color: #4F5357;
  border-radius: 3px;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.c-sidebar-group ul li {
  border-bottom: 1px solid #707070;
  color: #8D9093;
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
  text-align: center;
}
.c-sidebar-group ul li.u-all {
  background-color: #F0F3F5;
  border-bottom: none;
  border-radius: 3px;
  color: #4F5357;
  font-weight: bold;
}
.c-sidebar-group ul li a {
  padding: 1.5rem;
  display: block;
}
.c-sidebar-group--archive ul {
  max-height: 20.9rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1019607843) 0, transparent 10px, transparent);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.c-sidebar-group--archive ul::-webkit-scrollbar {
  display: none;
}

.c-pagetitle {
  width: fit-content;
  margin: 0 auto;
  padding: 0.6rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.2196078431);
  text-align: center;
}
.c-pagetitle__main {
  color: #FFF;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.c-pagetitle__sub {
  margin-top: 0.8rem;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.c-backbtn__inner {
  width: 100%;
  max-width: 26.4rem;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.c-backbtn__inner-link {
  padding: 1.6rem;
  background-color: #F0F0F0;
  font-size: 1.5rem;
  display: block;
}

a.c-topbackbtn {
  width: 27.2rem;
  margin: 6rem auto 0;
  padding: 1.2rem;
  background-color: #9DC6C0;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
  display: block;
  transition: opacity 0.3s ease-out;
}
a.c-topbackbtn:hover {
  opacity: 0.8;
  text-decoration: none;
}

.c-banner {
  max-width: 62.6rem;
  margin: 0 auto 6rem;
  padding: 2.4rem 1.2rem;
}
@media (max-width: 767px) {
  .c-banner {
    max-width: none;
    margin: 0 -2.4rem 2.4rem;
    padding: 1rem 0.8rem;
  }
}
.c-banner__text {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: normal;
  display: block;
}
@media (max-width: 767px) {
  .c-banner__text {
    font-size: 1.3rem;
  }
}
.c-banner p.c-banner__text {
  margin: 0;
}

.p-top {
  margin: 0 auto 2.4rem;
  padding: 4.8rem 0 0;
}
.p-top__heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-align: center;
}
.p-top__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.8rem 2.4rem;
  background-color: #FFF;
}
@media (max-width: 600px) {
  .p-top__container {
    padding: 1rem;
  }
}
.p-top__container-text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media (max-width: 600px) {
  .p-top__container-text {
    font-size: 1.4rem;
  }
}

.p-service__nav {
  max-width: 600px;
  margin: 0 auto 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 1.8rem;
}
@media (max-width: 600px) {
  .p-service__nav {
    margin: 0 auto 6.9rem;
    gap: 1rem;
  }
}
.p-service__nav-button {
  width: calc((100% - 3.6rem) / 3);
  padding: 1.6rem 3.2rem 1.6rem 1.6rem;
  background-color: #4F5357;
  border-radius: 5px;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: opacity 0.3s ease-out;
}
.p-service__nav-button:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {
  .p-service__nav-button {
    max-width: 18.6rem;
    width: calc((100% - 1.8rem) / 2);
  }
}
.p-service__nav-button::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 6.5%;
  transform: translateY(-50%);
}
.p-service__nav-button::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #4F5357;
  border-right: 2px solid #4F5357;
  position: absolute;
  top: 50%;
  right: calc(6.5% + 1px);
  transform: translate(-50%, -50%) rotate(135deg);
}
.p-service__block {
  margin: 0 auto 9.6rem;
}
.p-service__block:nth-child(4) {
  margin: 0 auto 4.8rem;
}
.p-service__block-headen {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-align: center;
}
@media (max-width: 600px) {
  .p-service__block-headen {
    letter-spacing: 0.3em;
  }
}
.p-service__block-headjp {
  margin-bottom: 3.6rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.4em;
  text-align: center;
}
@media (max-width: 600px) {
  .p-service__block-headjp {
    letter-spacing: 0.3em;
  }
}
.p-service__block-container {
  display: flex;
  justify-content: center;
  gap: 0 4.6%;
  flex-wrap: wrap;
}
.p-service__block-container-img {
  width: 47.7%;
}
.p-service__block-container-img-inner {
  padding-top: 65.9%;
  position: relative;
}
.p-service__block-container-img-inner img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 870px) {
  .p-service__block-container-img {
    display: none;
  }
}
.p-service__block-container-inner {
  width: 47.7%;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
@media (max-width: 870px) {
  .p-service__block-container-inner {
    width: 100%;
    max-width: 600px;
    gap: 0;
  }
}
.p-service__block-container-inner-box {
  padding: 1.8rem;
  background-color: #FFF;
}
.p-service__block-container-inner-box:last-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .p-service__block-container-inner-box {
    padding: 1.5rem 1rem;
  }
}
.p-service__block-container-inner-box-text {
  font-size: 1.4rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .p-service__block-container-inner-box-text {
    font-size: 1.3rem;
  }
}
.p-service__block-container-inner-box-img {
  width: 100%;
  display: none;
}
@media (max-width: 870px) {
  .p-service__block-container-inner-box-img {
    display: block;
  }
}
.p-service__block-container-inner-box-list {
  padding-left: 2.5rem;
  list-style: "▶︎  " outside;
}
@media (max-width: 870px) {
  .p-service__block-container-inner-box-list {
    margin: 0 auto;
  }
}
.p-service__block-container-inner-box-list-item {
  width: fit-content;
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.p-service__block-container-inner-box-list-item:first-child {
  margin-top: 0;
}
.p-service__block-container-inner-box-list-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .p-service__block-container-inner-box-list-item {
    font-size: 1.3rem;
  }
}
.p-service__block-container-inner-box-list-item-line {
  background: linear-gradient(transparent 70%, #FFE51C 0%);
}
.p-service__block-container-image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.p-news__carousel {
  display: flex;
  gap: 0 3.4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.p-news__carousel::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .p-news__carousel {
    gap: 0 2.4rem;
  }
}
.p-news__carousel-container {
  width: 31.6%;
  min-width: 38rem;
  margin-bottom: 0.3rem;
  padding: 0.6rem;
  background-color: #FFF;
  box-shadow: 0.4rem 0.4rem 0 0 #E3E3E3;
  transition: opacity 0.3s ease-out;
}
.p-news__carousel-container:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {
  .p-news__carousel-container {
    min-width: 26.7rem;
  }
}
.p-news__carousel-container-img {
  width: 100%;
}
.p-news__carousel-container-img-inner {
  padding-top: 56.25%;
}
.p-news__carousel-container-inner {
  padding: 1rem 2rem;
}
@media (max-width: 600px) {
  .p-news__carousel-container-inner {
    padding: 1rem 0.8rem;
  }
}
.p-news__carousel-container-inner-info {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.p-news__carousel-container-inner-info-date {
  font-size: 0.8rem;
  font-weight: bold;
}
.p-news__carousel-container-inner-info-category {
  padding: 0.2rem 1.4rem;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: bold;
}
.p-news__carousel-container-inner-title {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .p-news__carousel-container-inner-title {
    font-size: 1.2rem;
  }
}

.p-plan__container {
  margin-bottom: 12.4rem;
  background-color: #FFF;
}
.p-plan__container:nth-child(5) {
  margin-bottom: 4.8rem;
}
.p-plan__container:last-child {
  margin-bottom: 0;
}
.p-plan__container--lightpink {
  margin-top: 9.6rem;
}
.p-plan__container-header {
  padding: 1.4rem;
  background-color: #4F5357;
  color: #FFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media (max-width: 600px) {
  .p-plan__container-header {
    font-size: 1.6rem;
  }
}
.p-plan__container-body {
  padding: 3rem 4rem;
}
@media (max-width: 600px) {
  .p-plan__container-body {
    padding: 3rem 1rem 1rem;
  }
}
.p-plan__container-body--lightpink {
  padding: 1rem 4rem 3rem;
}
@media (max-width: 600px) {
  .p-plan__container-body--lightpink {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .p-plan__container-body--lightpink .p-plan__container-body-table--lg {
    min-width: 72rem;
  }
}
@media (max-width: 600px) {
  .p-plan__container-body--lightpink .p-plan__container-body-table--lg .p-plan__container-body-table-head:nth-child(n+2) {
    width: 27%;
  }
}
.p-plan__container-body-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1px;
}
.p-plan__container-body-table--lg {
  min-width: 62rem;
}
.p-plan__container-body-table--lg .p-plan__container-body-table-head:nth-child(n+2) {
  width: 26%;
}
@media (max-width: 600px) {
  .p-plan__container-body-table--lg .p-plan__container-body-table-head:nth-child(n+2) {
    width: 28%;
  }
}
.p-plan__container-body-table--sm {
  max-width: 60rem;
}
@media (max-width: 600px) {
  .p-plan__container-body-table--sm {
    min-width: 50rem;
  }
}
.p-plan__container-body-table--sm .p-plan__container-body-table-head:nth-child(n+2) {
  width: 36%;
}
@media (max-width: 600px) {
  .p-plan__container-body-table--sm .p-plan__container-body-table-head:nth-child(n+2) {
    width: 40%;
  }
}
.p-plan__container-body-table--single {
  max-width: 60rem;
}
.p-plan__container-body-table--single .p-plan__container-body-table-head:nth-child(1) {
  width: 28%;
}
@media (max-width: 600px) {
  .p-plan__container-body-table--single .p-plan__container-body-table-head:nth-child(1) {
    width: 34%;
  }
}
.p-plan__container-body-table-head {
  height: 6rem;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.p-plan__container-body-table-head--green {
  background-color: #9DC6C0;
  font-size: 1.5rem;
}
.p-plan__container-body-table-head--lightpink {
  background-color: #F48585;
  font-size: 1rem;
}
.p-plan__container-body-table-head--gray {
  background-color: #F0F3F5;
  color: #333;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .p-plan__container-body-table-head--gray {
    font-size: 1.4rem;
  }
}
.p-plan__container-body-table-head--unico {
  padding: 2.4rem 2rem;
  border-radius: 4px 4px 0 0;
}
.p-plan__container-body-table-head--unico img {
  width: 8.4rem;
  margin: 0 auto;
  display: block;
}
.p-plan__container-body-table-value {
  border: 1px solid #707070;
  font-weight: bold;
  vertical-align: middle;
}
.p-plan__container-body-table-value--lightpink {
  background-color: #F48585;
  border: none;
  color: #FFF;
}
.p-plan__container-body-table-value-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-plan__container-body-table-value-flex-vallg {
  font-size: 3.5rem;
  color: #D63976;
  background: linear-gradient(transparent 75%, #F48585 75%, #F48585 85%, transparent 85%, transparent 100%);
}
.p-plan__container-body-table-value-flex-vallgsm {
  font-size: 1.8rem;
}
.p-plan__container-body-table-value-flex-valmd {
  font-size: 2rem;
}
.p-plan__container-body-table-value-flex-valmdsm {
  font-size: 1rem;
}
.p-plan__container-body-table-value-flex-valsm {
  font-size: 1.5rem;
}
.p-plan__container-body-caption {
  margin-top: 1.6rem;
}
.p-plan__container-body-caption-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.p-plan__container-body-caption-linetext {
  width: fit-content;
  margin: 1rem auto 0;
  padding: 0 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.p-plan__container-body-caption-linetext-inner {
  word-break: keep-all;
  overflow-wrap: break-word;
  background: linear-gradient(transparent 80%, #9DC6C0 0%);
}
.p-plan__container-body-caption-list {
  width: fit-content;
  margin: 0 auto;
}
.p-plan__container-body-caption-list-item {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-location__head {
  margin-top: 4rem;
  padding: 1.6rem 3.2rem 1.6rem 5.2rem;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .p-location__head {
    margin-top: 3rem;
    padding: 1rem 2.4rem 1rem 3.6rem;
  }
}
.p-location__head-text {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
@media (max-width: 600px) {
  .p-location__head-text {
    font-size: 1.5rem;
  }
}
.p-location__head-text::before {
  content: "";
  width: 5px;
  height: 80%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  .p-location__head-text::before {
    left: -1.45rem;
  }
}
.p-location__head-button {
  padding: 0.6rem 4rem;
  border: 1px solid #F48585;
  border-radius: 5vh;
  color: #F48585;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.p-location__head-button:hover {
  background-color: #F48585;
  color: #FFF;
}
@media (max-width: 600px) {
  .p-location__head-button {
    padding: 0.3rem 1.6rem;
    font-size: 1.2rem;
  }
}
.p-location__container {
  margin: 2.4rem auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 6%;
}
@media (max-width: 800px) {
  .p-location__container {
    max-width: 600px;
  }
}
.p-location__container-inner--map {
  width: 52%;
}
@media (max-width: 800px) {
  .p-location__container-inner--map {
    width: 100%;
  }
}
.p-location__container-inner--table {
  width: 42%;
}
@media (max-width: 800px) {
  .p-location__container-inner--table {
    width: 100%;
  }
}
.p-location__container-inner-map {
  padding-top: 67%;
  position: relative;
}
.p-location__container-inner-map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.p-location__container-inner-table {
  width: 100%;
}
.p-location__container-inner-table-head {
  width: 7.4rem;
  padding: 0.9rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.p-location__container-inner-table-data {
  padding: 0.9rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
}

.p-faq {
  padding-top: 9.6rem;
  background-color: #E4E4E4;
  box-shadow: 0 0 0 100vmax #E4E4E4;
  clip-path: inset(0 -100vmax -100vmax);
}
@media (max-width: 600px) {
  .p-faq {
    padding-top: 4.2rem;
  }
}
.p-faq__container {
  margin-bottom: 1.5rem;
  background-color: #FFF;
}
.p-faq__container-head {
  padding: 1.6rem 8rem 1.6rem 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.p-faq__container-head::-webkit-details-marker {
  display: none;
}
@media (max-width: 600px) {
  .p-faq__container-head {
    padding: 1.2rem 3rem 1.2rem 3.6rem;
  }
}
.p-faq__container-head::before {
  content: "Q.";
  font-size: 2rem;
  line-height: normal;
  position: absolute;
  top: 1.3rem;
  left: 2.2rem;
}
@media (max-width: 600px) {
  .p-faq__container-head::before {
    top: 1rem;
    left: 0.8rem;
  }
}
.p-faq__container-head-plus {
  position: absolute;
  top: 50%;
  right: 3.5%;
  transition: all 0.3s ease-out;
}
.p-faq__container-head-plus::before {
  content: "";
  width: 1.2rem;
  height: 2px;
  background-color: #333;
  position: absolute;
  transform: translateX(-50%);
}
.p-faq__container-head-plus::after {
  content: "";
  width: 1.2rem;
  height: 2px;
  background-color: #333;
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
}
.p-faq__container-head.is-active .p-faq__container-head-plus {
  transform: rotate(-180deg);
}
.p-faq__container-head.is-active .p-faq__container-head-plus::after {
  content: none;
}
.p-faq__container-body {
  padding: 0 8rem 1.6rem 6rem;
  color: #DE8080;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}
@media (max-width: 600px) {
  .p-faq__container-body {
    padding: 0 3rem 1.2rem 3.6rem;
  }
}
.p-faq__container-body::before {
  content: "A.";
  font-size: 2rem;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 2.2rem;
}
@media (max-width: 600px) {
  .p-faq__container-body::before {
    left: 0.8rem;
  }
}

.p-page {
  padding: 7.6rem 4.6rem;
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 800px) {
  .p-page {
    padding: 7.6rem 4.6rem 0;
  }
}
@media (max-width: 600px) {
  .p-page {
    padding: 3.6rem 2.4rem 0;
  }
}

.p-single {
  padding: 7.6rem 4.6rem;
}
@media (max-width: 800px) {
  .p-single {
    padding: 7.6rem 4.6rem 0;
  }
}
@media (max-width: 600px) {
  .p-single {
    padding: 3.6rem 2.4rem 0;
  }
}
.p-single__wrap {
  display: flex;
  gap: 3.6rem;
}
@media (max-width: 800px) {
  .p-single__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.p-single__wrap-content {
  width: 100%;
}
.p-single__wrap-content-date {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .p-single__wrap-content-date {
    margin-bottom: 1rem;
  }
}
.p-single__wrap-content-tax {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem 3.2rem;
}
@media (max-width: 600px) {
  .p-single__wrap-content-tax {
    margin-bottom: 1.5rem;
  }
}
.p-single__wrap-content-tax-category {
  color: #FFF;
}
.p-single__wrap-content-tax-category-link {
  margin-right: 1.2rem;
  padding: 0.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.p-single__wrap-content-tax-category-link:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  .p-single__wrap-content-tax-tag {
    display: none;
  }
}
.p-single__wrap-content-tax-tag a {
  margin-right: 1.2rem;
  padding: 0 0 0.2rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
}
.p-single__wrap-content-tax-tag a::before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
}
.p-single__wrap-content-title {
  margin-bottom: 2.8rem;
  padding: 0 0.6rem 1.6rem;
  border-bottom: 1px solid #707070;
}
@media (max-width: 600px) {
  .p-single__wrap-content-title {
    margin-bottom: 2rem;
    padding: 0 0.6rem 0.6rem;
  }
}
.p-single__wrap-content-title-text {
  font-size: 2.5rem;
  font-weight: bold;
}
.p-single__wrap-content-title-tag {
  display: none;
}
@media (max-width: 600px) {
  .p-single__wrap-content-title-tag {
    display: block;
  }
}
.p-single__wrap-content-title-tag a {
  margin-right: 1.2rem;
  padding: 0 0 0.2rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
}
.p-single__wrap-content-title-tag a::before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
}
.p-single__wrap-content-img {
  width: 100%;
  margin-bottom: 3rem;
}
.p-single__wrap-content-img-inner {
  width: 100%;
  padding-top: 56.25%;
}
.p-single__wrap-content-body {
  margin-bottom: 6rem;
}

.p-archive {
  padding: 7.6rem 4.6rem;
}
@media (max-width: 800px) {
  .p-archive {
    padding: 7.6rem 4.6rem 0;
  }
}
@media (max-width: 600px) {
  .p-archive {
    padding: 3.6rem 2.4rem 0;
  }
}
.p-archive__wrap {
  display: flex;
  gap: 3.6rem;
}
@media (max-width: 800px) {
  .p-archive__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.p-archive__wrap-content {
  width: 100%;
}
.p-archive__wrap-content-main {
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4.2rem 2.4rem;
}
@media (max-width: 800px) {
  .p-archive__wrap-content-main {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .p-archive__wrap-content-main {
    gap: 6rem;
  }
}
.p-archive__wrap-content-main-container {
  width: calc((100% - 4.8rem) / 3);
  padding: 0.3rem 0.3rem 1.2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 1000px) {
  .p-archive__wrap-content-main-container {
    width: calc((100% - 2.4rem) / 2);
  }
}
@media (max-width: 600px) {
  .p-archive__wrap-content-main-container {
    width: 100%;
  }
}
.p-archive__wrap-content-main-container-img {
  width: 100%;
  margin-bottom: 2.4rem;
  padding-top: 56.25%;
}
.p-archive__wrap-content-main-container-info {
  margin-bottom: 0.3rem;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.p-archive__wrap-content-main-container-info-time {
  font-size: 0.8rem;
  font-weight: bold;
}
.p-archive__wrap-content-main-container-info-category {
  padding: 0.2rem 1.4rem;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: bold;
}
.p-archive__wrap-content-main-container-title {
  margin-bottom: 1.2rem;
  padding: 0 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.p-archive__wrap-content-main-container-tag {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 0.8rem;
}
.p-archive__wrap-content-main-container-tag-item {
  padding-left: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
}
.p-archive__wrap-content-main-container-tag-item::before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
}
.p-archive__wrap-content-pagination {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.4rem;
}
.p-archive__wrap-content-pagination span {
  color: #938980;
  display: block;
}
.p-archive__wrap-content-pagination a {
  color: #98A6B5;
  display: block;
}
.p-archive__wrap-content-pagination a.prev, .p-archive__wrap-content-pagination a.next {
  padding: 1.6rem;
  background-color: #FAFAFA;
  border: 2px solid #F0F3F5;
}
.p-archive__wrap-content-pagination a img {
  width: 1.6rem;
  display: block;
}
.p-archive__wrap-content-pagination a.prev img {
  transform: rotate(180deg);
}

.p-form {
  margin: 0 auto 4.2rem;
  border-spacing: 0 1.5rem;
  border-collapse: separate;
}
@media (max-width: 767px) {
  .p-form {
    width: 100%;
    margin: 0 auto 3.2rem;
    border-spacing: 0 1.8rem;
  }
}
.p-form__head {
  width: 25.4rem;
}
@media (max-width: 767px) {
  .p-form__head {
    width: 100%;
    display: block;
  }
}
.p-form__head--pb {
  padding-bottom: 3rem;
}
@media (max-width: 767px) {
  .p-form__head--pb {
    padding-bottom: 0;
  }
}
.p-form__head p {
  margin: 0;
  padding: 1.2rem 2rem;
  border: 1px solid #FFF;
}
@media (max-width: 767px) {
  .p-form__head p {
    padding: 0.8rem 1rem;
  }
}
.p-form__head p.p-form__head-caption {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .p-form__head p.p-form__head-caption {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .p-form__head p.p-form__head-caption:last-child {
    padding: 0 1rem 1rem;
  }
}
@media (max-width: 767px) {
  .p-form__head--textarea p {
    padding: 0.8rem 1rem 0;
  }
}
.p-form__head-must {
  margin-left: 1.2rem;
  padding: 0.2rem 0.5rem;
  background-color: #DE8080;
  border-radius: 4px;
  color: #FFF;
  font-size: 1rem;
}
.p-form__head-caption {
  padding: 0;
  font-size: 1.2rem;
  font-weight: normal;
}
.p-form__data {
  vertical-align: middle;
}
@media (max-width: 767px) {
  .p-form__data {
    width: 100%;
    display: block;
  }
}
.p-form__data--pb {
  padding-bottom: 3rem;
}
.p-form__data-select {
  width: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .p-form__data-select {
    width: 100%;
  }
}
.p-form__data-select--input::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #CDD6DE;
  border-radius: 50%;
  position: absolute;
  top: 1.8rem;
  right: 1.6rem;
}
.p-form__data-select--input::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-top: 1.5px solid #FFF;
  border-right: 1.5px solid #FFF;
  position: absolute;
  top: 2.1rem;
  right: 2rem;
  transform: rotate(135deg);
}
.p-form__data p {
  margin: 0;
}
.p-form__data input {
  padding: 1.2rem;
  border: 1px solid #CDD6DD;
}
@media (max-width: 767px) {
  .p-form__data input {
    width: 100%;
  }
}
.p-form__data input[type=text], .p-form__data input[type=email], .p-form__data input[type=date] {
  min-width: 40rem;
}
.p-form__data input[type=text]::placeholder, .p-form__data input[type=email]::placeholder, .p-form__data input[type=date]::placeholder {
  color: #CDD6DD;
}
@media (max-width: 767px) {
  .p-form__data input[type=text], .p-form__data input[type=email], .p-form__data input[type=date] {
    min-width: auto;
  }
}
.p-form__data input[type=date] {
  padding: 1.2rem;
  text-align: left;
  position: relative;
  cursor: pointer;
}
.p-form__data input[type=date].is-init {
  min-height: 5rem;
  padding: 1.2rem 1.2rem 1.2rem 4.9rem;
  color: #CDD6DD;
}
.p-form__data input[type=date].is-init::after {
  content: "";
  width: 2.5rem;
  height: 2.6rem;
  background: url(../img/icon/calendar.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.p-form__data input[type=date]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}
.p-form__data input[type=radio] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
@media (max-width: 767px) {
  .p-form__data input[type=radio] {
    width: auto;
  }
}
.p-form__data input[type=radio] + span {
  position: relative;
}
.p-form__data input[type=radio] + span::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border: 1px solid #CDD6DD;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -4rem;
  transform: translateY(-50%);
}
.p-form__data input[type=radio]:checked + span::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-color: #9DC6C0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -3.4rem;
  transform: translateY(-50%);
}
.p-form__data select {
  min-width: 40rem;
  padding: 1.2rem;
  border: 1px solid #CDD6DD;
  cursor: pointer;
}
@media (max-width: 767px) {
  .p-form__data select {
    width: 100%;
    min-width: auto;
  }
}
.p-form__data textarea {
  min-width: 40rem;
  padding: 1.2rem;
  border: 1px solid #CDD6DD;
}
.p-form__data textarea::placeholder {
  color: #CDD6DD;
}
@media (max-width: 767px) {
  .p-form__data textarea {
    width: 100%;
    min-width: auto;
  }
}
.p-form__data .wpcf7-radio {
  margin-left: 4rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.p-form__data .wpcf7-not-valid-tip {
  padding-left: 1.2rem;
}

p.p-checkbox {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
p.p-checkbox input[type=checkbox] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
p.p-checkbox input[type=checkbox] + span {
  position: relative;
}
p.p-checkbox input[type=checkbox] + span::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border: 1px solid #CDD6DD;
  position: absolute;
  top: 50%;
  left: -2.5rem;
  transform: translateY(-50%);
}
p.p-checkbox input[type=checkbox]:checked + span::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/check.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  left: -1.8rem;
  transform: translateY(-50%);
}
p.p-checkbox--confirm {
  position: relative;
}
p.p-checkbox--confirm::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border: 1px solid #CDD6DD;
  position: absolute;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%);
}
p.p-checkbox--confirm::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/check.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  left: -2.3rem;
  transform: translateY(-50%);
}
p.p-checkbox a {
  padding-left: 1rem;
  color: #333;
  text-decoration: underline;
}

p.p-submit {
  margin: 3rem auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem 0;
}
p.p-submit input[type=submit] {
  width: 27.2rem;
  padding: 1.2rem;
  background-color: #9DC6C0;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: opacity 0.3s ease-out;
}
p.p-submit input[type=submit]:hover {
  opacity: 0.8;
}

p.p-back {
  margin: 1.2rem auto 0;
  text-align: center;
}
p.p-back input[type=button] {
  width: 27.2rem;
  padding: 1.2rem;
  background-color: #5D5D5D;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: opacity 0.3s ease-out;
}
p.p-back input[type=button]:hover {
  opacity: 0.8;
}

span.wpcf7-list-item {
  margin-left: 0;
}

span.wpcf7-list-item-label {
  cursor: pointer;
}

div.wpcf7-response-output {
  display: none;
}

/*# sourceMappingURL=style.css.map */
